*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

select
{
  background-color: grey;
  color:white;
  width:100px;
  height:18px;
  padding:2px;
  border:0px;
}
option:hover
{
  background:#5b9fd3;
}
header{
  width:100%;
  background-color: black;
  height:90px;
}
nav
{ color:white;
  width:100%;
  display:flex;
  justify-content: space-between;
}
nav p{
  font-size:25px;
  font-weight: bold;
}

.section1
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
  border:2px groove grey;
}
.buttoncontainer button{
  width:80px;
  background-color: grey;
  color:white;
  padding: 2px;
  font-size: small;
  height:25px;
  border-radius: 4px;
  border: 2px solid #5b9fd3;
}
.buttoncontainer
{
  width:300px;
  display:flex;
  justify-content: space-around;
}

.buttoncontainer button:hover
{
  background-color:#5b9fd3; 
  cursor: pointer;
}

.language_option label{
  position: relative;
  bottom:18px;
  left:70px;
}
.language_option select
{
  position:relative;
  right:15px;
  top:2px;
  border: 0px;
}
.section2
{
  color:red;
  
}
.section2 h2{
  position:relative;
  left:20px;
}
.section3
{
  display:flex;
  justify-content: center;
  flex-direction: row;
  font-size: 13px;
}
.formparent
{ border:1px solid grey;
  padding:8px;
  background-color: rgb(238, 238, 238);
}
.part1
{
  background-color:#bfbfbf ;
  height:50px;
  padding:6px;
  font-size: 15px;
}
.part2
{
  height:70px;
  background-color: tomato;
  padding:20px;
  font-size: 20px;
}
.required:after
{
 content:"*";
 color:red;
}

.part3_1
{
  margin-top:10px;
}
.part3_2
{
 position: relative;
 left:30px;
 margin:20px;
}
.part3_3
{
  position: relative;
  left:50px;
}
.form1 h3
  {
    position:relative;
    top:10px;
  }

footer{
  background-color:black;
  color:white;
  width:100%;
  display:flex;
  height: 90px;
  justify-content:center;
  align-items: center;
  font-size: 15px;
  color:grey;
}
#epic
{
  position: relative;
  left:40px;
}
.epicno>input{
  position: relative;
  left:20px;
}
.declaration2
{
  border-bottom:2px groove grey;
}
.form_container1
{
  position:relative;
  margin:20px;
  left:20px;

}
.declaration4
{
  display:flex;
  justify-content: center;
}
.declaration4 button,input
{
  margin:10px;  
  padding:2px;
  border-radius: 3px;
}

.button
{background-color: green;
  width:100px;
  padding:4px;
  border-radius: 3px;
  color: white;
  border: none;
}
select,option{
  padding:2px;
  border-radius: 2px;
  font-weight: lighter;
}
.fileborder
{
  border:1px solid grey;
}
.keyboard
{
  width:50px;
  background-color: grey;
  border:0px 2px 2px 0px black;
  padding:2px;
}
.or 
{
  position: relative;
  left:10px;
}
.part2 a{
font-size: 20px;
color:#267699;
text-decoration: none;
}
.part2 a:hover{
  text-decoration: underline;
}



